// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profilecointainer{
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  background: #ccc
}
#profileleft {
  float: left;
  width: 33%;
  background-color: #bbb;
}
#profilecenter {
  float: left;
  background-color: #eee;
  width: 33%;
}
#profileright{
  float: left;
  width: 33%;
  background-color: #bbb;
}

table {
  border-collapse: collapse;
  width: 80%;
}
table.center {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

#header-page {
  width: 100%;
  background-color: #BBBBBB;
  margin-top:2%;
  margin-bottom:2%;
  text-align: right;
}

table, th, td {
    padding: 8px;
    text-align: left;
    background-color: #d4e3e5;
    border-bottom: 1px solid #ddd;

  .color-1 {
    color: #f99;
  }
  .color-2 {
    color: #736c20;
  }
  .color-3 {
    color: #190db9;
  }
  .size-1 {
    font-size:12px;
  }
  .size-2 {
    font-size:14px;
  }
  .size-3 {
    font-size:16px;
  }
}

.cbox {
  float: right;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.pink {
  background: #f99;
}

.yellow {
  background: #736c20;
}

.blue {
  background: #190db9;
}